//* Lets load all of the bulma framework
@import "../../node_modules/bulma/bulma.sass"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims"

.unit-select:not(.is-multiple):not(.is-loading):after
  @include mobile
    right: .825em
    margin-top: -.6375em

.content ol
  list-style-position: inside

.slider
  .slider-container
    position: relative
    padding-top: 1.8em

  input
    width: calc(100% - 3.33em)

  .range-label
    position: absolute
    left: 50%
    top: 0