$container-offset: 5px
$family-sans-serif: "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif

@import "../../node_modules/bulma/bulma.sass"
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Roboto:wght@400;700&display=swap')

body
  background: #465375

.container
  @include until($tablet)
    margin: 0 5px

.header
  background: #EFEFEF
  margin-bottom: 50px
  position: sticky
  top: 0
  z-index: 2

  .container
    align-items: center
    padding: 30px 0
    display: flex
    @include until($tablet)
      padding: 10px 0

    @include until($tablet)
      flex-direction: column
      justify-content: center

  .logo
    font-family: 'Lobster Two'
    margin-bottom: 0

  .target-container
    display: flex
    align-items: center
    flex-grow: 1
    @include until($tablet)
      width: 100%
      justify-content: space-evenly

  .target-chooser
    display: flex
    align-items: center

    .target-chooser-value
      height: 46px
      margin: 0 10px
      background: #4373EE
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
      border-radius: 10px
      padding: 10px 12px
      @include until($tablet)
        height: 35px
        padding: 5px 6px
        margin: 5px

      span
        font-size: 20px
        font-weight: 700
        line-height: 23px
        color: #FFFFFF
        @include until($tablet)
          font-size: 16px
          line-height: 20px

    .arrow
      display: inline-box
      width: 47px
      height: 46px
      background: #465375 url(/images/left_arrow_vector.svg) no-repeat center
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
      border-radius: 10px
      outline: none
      border: none
      cursor: pointer
      @include until($tablet)
        width: 35px
        height: 35px
        background-size: 25%
    .arrow.right
      background: #465375 url(/images/right_arrow_vector.svg) no-repeat center
      @include until($tablet)
        background-size: 25%
    .arrow:active
      box-shadow: none


  .carbon-target
    font-style: normal
    font-weight: 700
    color: #465375
    border: 1px solid #465375
    border-radius: 10px
    padding: 10px 20px
    @include from($tablet)
      margin-left: auto
    @include until($tablet)
      padding: 5px 10px

.block-container
  padding-bottom: 30px
  color: #FFFFFF

  .content ol
    list-style-position: inside

  a
    color: #a6A6A6

  h1
    color: #FFFFFF

.block
  h2
    display: flex
    align-items: center
    font-size: 24px
    font-weight: 700
    color: #FFFFFF

    .block-result
      font-size: 18px
      line-height: 21px
      margin-left: auto
      border: 1px solid #FFFFFF
      border-radius: 21px
      padding: 10px 15px


  ul
    border-radius: 0px 30px 30px 30px
    margin-top: 10px
    padding: 35px 20px

  li
    display: flex
    align-items: center
    margin-bottom: 35px
    @include until($tablet)
      flex-direction: column
      align-items: start
    span
      font-size: 12px
      line-height: 14px
      color: #FFFFFF

  li:last-child
    margin-bottom: 0px

  label.label
    display: flex
    align-items: center
    margin-bottom: 0
    a
      display: contents
      margin-right: 10px

    .label-name
      text-transform: uppercase
      font-size: 15px
      line-height: 18px
      color: #FFFFFF
      border: 1px solid #FFFFFF
      border-radius: 10px
      padding: 2px 10px
      margin: 0 10px

    select
      appearance: none
      text-transform: uppercase
      font-size: 15px
      font-weight: 700
      line-height: 18px
      color: #FFFFFF
      border: 1px solid #FFFFFF
      border-radius: 10px
      background: transparent
      margin: 0 10px
      padding: 2px 20px 2px 10px
      background: url("/images/select.svg") right center no-repeat
      background-position: 95%
      appearance: none
      -webkit-appearance: none
      -moz-appearance: none
      
      
      option
        padding: 0
        margin: 0

  .min-max
    display: none

  .slider-input
    margin-left: auto
    flex-grow: 1
    display: flex
    align-items: center
    justify-content: flex-end
    @include until($tablet)
      margin-left: 0
      width: 100%
      padding-top: 10px

    .slider
      flex-grow: 1
      max-width: 500px

      .slider-container
        display: flex
        width: 100%

        input
          flex-grow: 1
  .locks
    display: flex
    align-items: center
    margin-left: 5px
    i
      display: block
      background: transparent url(/images/lock.svg) no-repeat center
      width: 20px
      height: 23px
      background-size: contain
      cursor: pointer
    i.open
      background: transparent url(/images/open-lock.svg) no-repeat center
      
.block.food ul
  background-color: #F8B045

.block.equipment ul
  background-color: #4373EE

.block.move ul
  background-color: #FF7C7C

.block.home ul
  background-color: #86E1AB

.transport-creator
  position: relative
  margin-top: -20px
  text-align: center
  button
    background: #C45F5F
    border: 1px solid #C45F5F
    border-radius: 10px
    font-size: 14px
    line-height: 16px
    color: #FFFFFF

.intro
  background: #FFF
  padding-top: 50px

  .content ol
    list-style-position: inside

.fixed-number
  display: inline-block
  width: 3.5em
  text-align: right